* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Amiri", sans-serif;
    line-height: 1.2;
}

.container {
    max-width: var(--container-width);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

// Basic element
img {
    max-width: 100%;
}

.icon {
    width: 44px;
    height: 44px;
    color: var(--icon);
}
@media screen and (max-width: 1024px) {
    .icon {
        width: 36px;
        height: 36px;
    }
}

// Slider
.slider-container {
    position: relative;
    width: 100%;
    overflow-x: clip;
    overflow-y: unset;
    .slider-wrapper {
        cursor: grab;
    }
    .slider-wrapper:active {
        cursor: grabbing;
    }
    .slider-item {
        flex-shrink: 0;
    }
    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        width: 44px;
        height: 44px;
        color: var(--icon);
        border: 1px solid var(--icon);
        cursor: pointer;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover:not(:disabled) {
            background: rgba(var(--icon-rgb), 0.1);
        }
        &:disabled {
            opacity: 0.3;
            cursor: default;
        }
        &.prev {
            left: 0;
            svg {
                transform: rotate(180deg);
            }
        }
        &.next {
            right: 0;
        }
    }

    .dots {
        display: flex;
        justify-content: center;
        gap: 24px;

        span {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background: transparent;
            border: 1px solid var(--icon);
            cursor: pointer;
            transition: all 0.3s;
            &.active {
                background: var(--icon);
            }
        }
    }

    &.stack-mode {
        .dots {
            z-index: 19;
        }
    }
}

// Section
.section {
    padding: 40px 0;
    .heading-section {
        padding-bottom: 40px;
        h2 {
            font-family: "Lavishly Yours", sans-serif;
            font-size: 60px;
            font-weight: 400;
            color: var(--primary-heading);
        }
        @media only screen and (min-width: 768.1px) {
            &.has-arrow ~ .slider-container {
                .arrow {
                    top: -76px;
                    &.prev {
                        left: unset;
                        right: 64px;
                    }
                }
            }
        }
        @media only screen and (max-width: 768px) {
            h2 {
                font-size: 48px;
            }
        }
    }

    &.image-banner {
        .content-section {
            .description {
                font-size: 24px;
                color: var(--primary-text);
            }
            .divider {
                width: 100px;
                height: 3px;
                background: var(--primary-text);
            }
        }
    }
}

.button {
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    height: 52px;

    &.primary {
        color: var(--primary-text);
        background-color: var(--primary-bg-btn);
        border: 1px solid var(--primary-border-btn);
        border-radius: 100px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: color var(--time-s) ease-in-out;
        z-index: 1;

        .icon {
            transition: color var(--time-m) ease-in-out;
            width: 32px;
            height: 32px;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -140%;
            width: 130%;
            height: 100%;
            background: var(--primary-bg-btn-hover);
            transform: skewX(-30deg);
            transition: all var(--time-s) ease-in-out;
            z-index: -1;
        }

        &:hover {
            color: var(--primary-btn-hover);
            .icon {
                color: var(--primary-btn-hover);
            }
            &:before {
                left: -20%;
            }
        }
    }
}
