body {
    margin: 0;
    font-family: 'Amiri', sans-serif;
    line-height: 1.2;
}

.container {
    max-width: var(--container-width);
    padding-left: 15px;
    padding-right: 15px;
}

$grid-breakpoints: (
  xs: 0,
  s: 576px,
  m: 768px,
  l: 992px,
  xl: 1024px,
  xxl: 1400px
);

@mixin display-utilities {
  $display-values: block, none, flex, grid;
  @each $display in $display-values {
    .d-#{$display} {
      display: #{$display};
    }

    @each $breakpoint, $min-width in $grid-breakpoints {
      @if $min-width != 0 {
        @media (min-width: $min-width) {
          .d-#{$breakpoint}-#{$display} {
            display: #{$display} !important;
          }
        }
      }
    }
  }
}
@include display-utilities;

img {
    max-width: 100%;
}

.btn-diagonal {
    position: relative;
    overflow: hidden;
    background: #fff;
    color: #000;
    border: 2px solid #b4853e;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 1;
}

/* Tạo đường chéo */
.btn-diagonal::before {
    content: "";
    position: absolute;
    top: 0;
    left: -140%;
    width: 130%;
    height: 100%;
    background: linear-gradient(135deg, #ffc978, #b4853e);
    transform: skewX(-30deg);
    transition: all 0.5s ease;
    z-index: -1;
}

/* Khi hover: chạy qua */
.btn-diagonal:hover::before {
    left: -20%;
}

/* Khi hover: đổi màu chữ */
.btn-diagonal:hover {
    color: #fff;
}