.footer-wrapper {
    background: var(--background-other);
    .footer {
        .footer-text {
            font-size: 16px;
            color: var(--primary-text);
        }
        .footer-heading {
            font-size: 30px;
            font-weight: 700;
            letter-spacing: 0.1rem;
            color: var(--primary-heading);
            text-transform: uppercase;
            position: relative;
            cursor: pointer;

            @media only screen and (max-width: 768px) {
                border-bottom: 1px solid var(--border-input);
                font-size: 24px;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    background-color: var(--primary-heading);
                    transition: opacity 0.3s ease, transform 0.3s ease, height 0.3s ease;
                }
                &::before {
                    width: 2px;
                    height: 15px;
                    right: 7px;
                    transform: translateY(-50%);
                }
                &::after {
                    width: 15px;
                    height: 2px;
                    transform: translateY(-50%);
                    right: 0;
                }

                & + .footer-links {
                    height: 0;
                    overflow: hidden;
                    transition: all var(--time-m) ease-in-out;
                }
                &.active {
                    &::before {
                        opacity: 0;
                        height: 0;
                    }

                    &::after {
                        transform: translateY(-50%) rotate(180deg);
                    }

                    & + .footer-links {
                        height: auto;
                    }
                }
            }
        }
        .footer-link {
            text-decoration: none;
            font-size: 16px;
            font-weight: 700;
            color: var(--primary-text);
            display: inline-block;
            margin-top: 20px;
            &:first-child {
                display: block;
            }
            .text-underline {
                position: relative;
                display: inline-block;
                cursor: pointer;
                &:hover {
                    &:after {
                        transform: scaleX(1);
                    }
                }
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: currentColor;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform var(--time-xs) ease;
                }
            }
        }
        .footer-link-2 {
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            color: var(--primary-text);
            display: inline-block;
        }
        .footer-top {
            flex-wrap: nowrap;
            .footer-col:not(.large) {
                @media screen and (min-width: 768.1px) and (max-width: 1024px) {
                    flex: 0 0 calc((100% - 30px) / 3);
                }
                @media screen and (min-width: 1024.1px) {
                    flex: 0 0 calc((100% - 45px) / 5);
                }
            }
        }
        @media only screen and (min-width: 768.1px) {
            .footer-bottom {
                border-top: 1px solid var(--border-input);
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .footer-wrapper {
        .footer {
            .footer-top {
                flex-wrap: wrap;
            }
        }
    }
}
