.header-wrapper {
    height: 60px;
    transition: none;
}

.header {
    position: static;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--background, #fff);
    box-shadow: var(--box-shadow);
    transition: none;

    .header-inner {
        gap: 40px;
        position: relative;
        min-height: 100px;
        padding: 12px 0;
        .header-item {
            .group-icon-wrapper {
                gap: 24px;
            }
            .group-icon-item {
                align-items: center;
                cursor: pointer;
                &:has(.icon-wrapper + .text) {
                    gap: 16px;
                }
                .icon-wrapper {
                    svg {
                        width: 44px;
                        height: 44px;
                        color: var(--icon);
                    }
                }
                .text {
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 700;
                    color: var(--primary-text);
                }
            }
        }

        .header-item:not(:nth-child(2)) {
            flex: 0 0 calc((100% - 80px) / 3);
        }
        .header-item:nth-child(2) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        @media screen and (max-width: 1024px) {
            min-height: 50px;
            .header-item {
                .logo-wrapper {
                    max-width: 50px;
                    max-height: 50px;
                }
                .group-icon-item {
                    .icon-wrapper {
                        svg {
                            width: 36px;
                            height: 36px;
                        }
                    }
                }
            }
        }
    }

    &.is-sticky {
        position: fixed;
        top: 0;
        &.is-scrolled-far {
            transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        }
        &:not(.is-visible) {
            transform: translateY(-100%);
        }
    }
}
